Host jumphost
    Hostname 116.202.108.204
    User root

Host workstation_office
    Hostname 127.0.0.1
    User stefan
    Port 9090
    ProxyJump jumphost

Host workstation_ifsw
    Hostname 127.0.0.1
    User baer
    Port 9195
    ProxyJump jumphost

Host horeka
    Hostname horeka.scc.kit.edu
    User st_ac143845
    IdentityFile ~/.ssh/horeka_3_ed25519
    # ProxyJump workstation-office.netbird.cloud

Host proxmox
    Hostname 10.0.0.4
    User root

Host kubernetes1
    Hostname 192.168.0.51
    User stefan
    ProxyJump proxmox

Host kubernetes2
    Hostname 192.168.0.52
    User stefan
    ProxyJump proxmox

Host kubernetes3
    Hostname 192.168.0.53
    User stefan
    ProxyJump proxmox


Host hetzner-k3s-1.com
    Hostname 10.1.0.5
    User root
    ProxyJump jumphost

Host hetzner-k3s-2.com
    Hostname 10.1.0.3
    User root
    ProxyJump jumphost

Host hetzner-k3s-3.com
    Hostname 10.1.0.4
    User root
    ProxyJump jumphost
